*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}
#root,
#__next {
  isolation: isolate;
}

.text-danger {
  color: red;
}
.pageWrapper {
  display: flex;
  position: relative;
}
.nav-bar {
  width: 20%;
  height: 100vh;
  border-right: 1px solid rgb(234, 234, 236);
  top: 0;
  position: sticky;
}
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main-content {
  background: rgb(245, 245, 248);
  padding: 16px 32px;
  flex: 1;
}
.header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 99;
}
.footer {
  min-height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
.page-title {
  display: inline-block;
  height: 24px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #303c6c;
}
